<?xml version="1.0"?>
<!--
/**
 * Magento Enterprise Asyncronous Indexing Module
 *
 * @category    Lilmuckers
 * @package     Lilmuckers_AsynchronousIndex
 * @copyright   Copyright (c) 2013 Patrick McKinley (http://www.patrick-mckinley.com)
 * @license     http://choosealicense.com/licenses/mit/
 */
-->
<config>
    <sections>
        <index_management>
            <groups>
                <index_options>
                    <fields>
                        <asyncindex translate="label comment" module="lilasyncindex">
                            <label>Asyncronous Index Updates</label>
                            <comment>If set to "yes" all "Update On Save" indexes will be performed asyncronously. This will speed up the save process within the administration backend by forking the reindexing processes off the main save request.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                        </asyncindex>
                    </fields>
                </index_options>
            </groups>
        </index_management>
    </sections>
</config>
